<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" type="text/css" href="/Css/conv.css" /> 
  </head>
  <body>

    <div class="container">
        <div class="input_box">
            Celsius to Fahrenheit: <b>
                <input type="text" id="num1">
            </b>
            Result: <b>
                <input type="text" id="res">
            </b>
            <input type="button" value="Calculate"
            onclick="convCF()">
        </div>
        </div>
   
        <!-- FAhrenheit -->

        <div class="containero">
            <div class="input_box">
            Fahrenhei to Celsius: <b>
                <input type="text" id="num2">
            
            </b>
            Result: <b>
                <input type="text" id="resf">
            </b>
            <input type="button" value="Reverse Calculate"
            onclick="convFC()">
        </div>
        </div>
    <main></main>
    <script type="text/javascript" src="/function/work.js"> </script>
   
  </body>
</html>