<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/Css/style.css" /> 
  </head>
  <body>

    <div class="container">
<p>My File Backup<span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
  </div>

		<!--BUTTON SIDE-->

        <!--Hover #1-->
<a href="http://localhost:3000/myport"
<div class="box-1">
  <div class="btn btn-one">
  <span>My Portfolio</span>
  </div>
</div>
</a>
<!--Button 2-->
<a href="http://localhost:3000/conv"
<div class="box-1">
  <div class="btn btn-one">
    <span>Temp Converter</span>
  </div>
</div>
</a>

<a href="http://localhost:3000/myacc">
<div class="box-1">
  <div class="btn btn-one">
    <span>My Account</span>
   
  </div>
</div>
</a>
<!-- Hover #4 -->
<div class="box-2">
  <div class="btn btn-two">
    <span>Exit</span>
  </div>
</div>
  <!-- <div class="spa">
    <div class="wrapper">
  <div class="buttono" id="button-7">
    <div id="dub-arrow"><img src="/imgs/c7fe1835-574f-4728-b378-7b5b247bd340.gif" alt="" /></div> -->
    <!-- <a href="#"><img src="">Open A File</img></a> -->

  </div>
  </div>
</div>
</div>

<!-- <div class="spa">
  <div class="wrapper">
   <div class="buttono" id="button-7"> -->
   <!-- <div class="filebutton"> -->
<!-- <button onclick="openFile()">openFile</button></div>
<input id="inp" type='file' style="visibility:hidden;" onchange="readFile(event)" />
<pre id="contents"></pre> -->
  <!-- </div> -->
  <!-- </div>
</div>
</div> -->

<div class="spa">
  <div class="wrapper">
   <div class="buttono" id="button-7">
<form>
  <label for="fileUpload">Upload file</label>
  <input type="file" id="fileUpload"> -->

   <!-- <input type="file" onchange="loadFile(this.files[0])">
    <br>
    <pre id="output"></pre>  -->
</form>
</div>
</div>
</div>
    <main></main>
    <!-- <script type="text/javascript" src="/function/autowriter.js"> </script> -->
  </body>
</html>